.rankElement {
    display: flex;
    background-color: rgb(123, 111, 111);
    margin:auto;
    margin-top:5px;
    width:95%;
    height:20vh;
}

.rankElementNumber {
    flex: 1;
}

.rankElementView {
    flex: 4; 
    background-image: url("Biomutant.jpg");
    background-size: cover;
}

.rankElementTitle {
    flex: 2;
}

.rankElementPlatforms {
    flex: 2;
}

.rankElementKeys {
    flex: 2;
}

.rankElementForum {
    flex: 2;
}
.fa-xbox{
    padding-right:10px;
}