.register {
    height: 100vh;
    display: flex;
}

input {
    width: 20vw;
    min-width: 100px;
    margin-bottom: 3px;
}

label {
    min-width: 10vw;
}

input[type=submit] {
    min-width: 30vw;
}

.data-container {
    width: 400px;
    height: 300px;
    opacity: 1;
    z-index: 2;
    overflow: hidden;
}

.registerImage {
    height: 100vh;
    width: 50vw;
    background-image: url("Desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.registerContent {
    min-width: 50vw;
}

.registerHeader {
    height: 30vh;
    font-size: 40px;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.registerDiv {
    text-align: center;
    height: 40vh;
}

.registerButtons {
    text-align: center;
    height: 30vh;
}

.registerbutton {
    width: 30vw;
    margin-bottom: 15px;
}