.cardImage{
    width:100%;
}
.mainGameCarousel{
    margin:0px 0px 0px 0px;
    position:relative;
}
.dataCarousel{
    position:absolute;
    top: 80%;
  left: 50%;
    transform: translate(-50%, -50%);
}
.more,.tests{
    margin:20px
}
.mainGameCarouselText{
    color:white;
    font-size:50px;
    position: relative;
    transform: translateX(10%);
    text-shadow: 3px 3px black;
}
