.App{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.container{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.rrouter{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.sswitch{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}