.loginAndRegister {
  height: 100vh;
  display: flex;
}

.loginImage {
  height: 100vh;
  width: 50vw;
  background-image: url("Metro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContent {
  min-width: 50vw;
}

.loginHeader {
  height: 30vh;
  font-size: 40px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.loginForm {
  text-align: center;
  height: 40vh;
}

.loginButtons {
  text-align: center;
  height: 30vh;
}

.loginbutton {
  width: 30vw;
  margin-bottom:15px;
}
.googleLogin{
  width:20vw;
  text-align: center;
  margin:auto;
}
